@page "/multiple"

@using System.Text.Json
@using VisNetwork.Blazor.Models;

<h1>Multiple instances</h1>

<p>Clicked: @message</p>
<div class="vis-network-container">
    <Network Id="first" Options="SetupOptions1" Data="@data1" OnClick="NetworkOnClick1" />
    <Network Id="second" Options="SetupOptions2" Data="@data2" OnClick="NetworkOnClick2" />
</div>

@code {
private NetworkData data1;
private NetworkData data2;
private string message;

private NetworkOptions SetupOptions1(Network network)
{
return new NetworkOptions
{
    Nodes = new NodeOption {
        Color = new NodeColorType {
            Background = "red",
        }
    }
};
}

private NetworkOptions SetupOptions2(Network network)
{
return new NetworkOptions
{

};
}

public Multiple()
{
var nodes = new List<Node>();
var edges = new List<Edge>();

nodes.Add(new Node("1", "Node 1 (1)", 1, "circle"));
nodes.Add(new Node("2", "Node 2 (1)", 2, "ellipse"));
edges.Add(new Edge("1", "2"));
nodes.Add(new Node("3", "Node 3 (1)", 4, "database"));
edges.Add(new Edge("2", "3"));
data1 = new NetworkData
{
    Edges = edges.ToList(),
    Nodes = nodes.ToList()
};

edges.Clear();
nodes.Clear();

nodes.Add(new Node("1", "Node 1 (2)", 1, "circle"));
nodes.Add(new Node("2", "Node 2 (2)", 2, "ellipse"));
edges.Add(new Edge("1", "2"));
nodes.Add(new Node("3", "Node 3 (2)", 4, "database"));
edges.Add(new Edge("2", "3"));
data2 = new NetworkData
{
    Edges = edges.ToList(),
    Nodes = nodes.ToList()
};
}

private void  NetworkOnClick1(ClickEvent eventArg)
{
message = "Network1";
StateHasChanged();
}

private async Task NetworkOnClick2(ClickEvent eventArg)
{
message = "Network2";
StateHasChanged();
await Task.CompletedTask;
}
}