@page "/smooth"

@using VisNetwork.Blazor.Models

<h1>Smmoth arrow settings</h1>

<div>
    <button @onclick="TogglePhysics" aria-label="TogglePhysics">Toggle Physics</button>

    <Network Id="my-id" @ref="network" Data="@data" class="vis-network-container" Options="NetworkOptions" />
</div>

@code {

    private Network network;

    private NetworkData data;

    private NetworkOptions networkOptions = new NetworkOptions
    {
        AutoResize = true,
        Nodes = new NodeOption
        {
            BorderWidth = 1
        },
        Edges = new EdgeOption
        {
            Arrows = new Arrows {
                To = new ArrowsOptions { Enabled = true }
            }
        },
        Physics = new PhysicsOptions {
            Enabled = false
        }
    };


    protected override void OnInitialized()
    {
        var nodes = new List<Node>();
        var edges = new List<Edge>();

        nodes.Add(new Node("1", "Node 1", 1, "circle"));
        nodes.Add(new Node("2", "Node 2", 2, "ellipse"));
        edges.Add(new Edge("1", "2"));

        nodes.Add(new Node("3", "Node 3", 4, "database"));
        edges.Add(new Edge("2", "3"));

        data = new NetworkData
        {
            Edges = edges,
            Nodes = nodes
        };
    }

    private async Task TogglePhysics()
    {
        networkOptions.Physics.Enabled = !networkOptions.Physics.Enabled;
        await network.SetOptions(networkOptions);
    } 

    private NetworkOptions NetworkOptions(Network network)
    {
        return networkOptions;
    }

}

