@page "/options"
@using VisNetwork.Blazor.Models

<h3>Options</h3>

<div>
	<button @onclick="ChangeOptionClick" aria-label="ChangeOption">Change options</button>
	<Network @ref="network" Id="my-id" Data="@data" Options="@NetworkOptions" class="vis-network-container" />
</div>

@code {
	private NetworkData data;
	private Network network;

	public Options()
	{
		var nodes = new List<Node>();
		var edges = new List<Edge>();

		nodes.Add(new Node("1", "Node 1", 1, "circle"));
		nodes.Add(new Node("2", "Node 2", 2, "ellipse"));
		edges.Add(new Edge("1", "2"));
		nodes.Add(new Node("3", "Node 3", 4, "database"));
		edges.Add(new Edge("2", "3"));

		data = new NetworkData
		{
			Edges = edges,
			Nodes = nodes
		};
	}

	private NetworkOptions NetworkOptions(Network network)
	{
		return new NetworkOptions
		{
			AutoResize = true,
			Nodes = new NodeOption
			{
				BorderWidth = 1,
			}
		};
	}

	private async Task ChangeOptionClick()
	{
		await network.EnableEditMode();

		await network.SetOptions(new NetworkOptions
		{
			AutoResize = true,
			Nodes = new NodeOption
			{
				BorderWidth = 5,
				HeightConstraint = new()
				{
					Minimum = 100,
					Valign = "center",
				},
				WidthConstraint = new()
				{
					Minimum = 100,
					Maximum = 300,
				}
			},
			Locale = "nb-NO",
			Locales = new Dictionary<string, LocaleMessages>
			{
				["nb-NO"] = new LocaleMessages
				{
					Edit = "Rediger",
					Del = "Slett valgt",
					Back = "Tilbake",
					AddNode = "Legg til node",
					AddEdge = "Legg til kant",
					EditNode = "Rediger node",
					EditEdge = "Rediger kant",
					AddDescription = "Klikk tomt område for å legge til node.",
					EdgeDescription = "Klikk på en node og dra kanten til en annen node for å koble dem.",
					EditEdgeDescription = "Klikk på kontrollpunktene og dra dem til en node for å koble til den.",
					CreateEdgeError = "Kan ikke koble kanter til en klynge.",
					DeleteClusterError = "Klynger kan ikke slettes.",
					EditClusterError = "Klynger kan ikke redigeres.",
				},
			},
		});
	}
}