@page "/shapes"

@using VisNetwork.Blazor.Models

<h1>Shapes</h1>

<div>
    <Network Id="first" Data="@data" class="vis-network-container" />
</div>

@code {
    private NetworkData data;

    public Shapes()
    {
        var nodes = new HashSet<Node>();
        var edges = new HashSet<Edge>();

        var types = new[] {
    "ellipse", "circle", "database", "box", "text",
    "image", "circularImage", "diamond", "dot", "star", "triangle", "triangleDown", "hexagon", "square", "icon"
};

        int idx = 1;
        foreach (var type in types)
        {
            nodes.Add(new Node(idx.ToString(), $"{type} {idx}", idx, type)
                {
                    Image = type == "image" || type == "circularImage"
                        ? @"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg=="
                        : null,
                    Icon = type == "icon"
                        ? new Icon { Face = "iconic", Code = "oi oi-cloudy", /* TODO: does not work */ }
                        : null
                });
            idx++;
        }
        
        nodes.Add(new Node(idx.ToString(), $"dashed border cycle {idx}", idx, "circle")
        {
            ShapeProperties = new NodeShapePropertiesOption
            {
                BorderDashes = [10,10]
            }
        });

        data = new NetworkData
            {
                Edges = edges,
                Nodes = nodes
            };
    }
}